html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

h1 {
    font-size: 4rem;
    margin: 2rem;
}

button {
    font-size: 2rem;
    background-color: red;
    border: 1px solid black;
    margin: 1rem;
}

#scores,
#points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 102.4rem;
    font-size: 2.5rem;
}

#score_player_A,
#score_player_B {
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
}

#points_player_A,
#points_player_B,
h3 {
    width: 20rem;
    text-align: center;
    border: 1px solid black;
}


/* 1024x600px */

canvas {
    width: 102.4rem;
    height: 60rem;
    border: 1px solid black;
    margin: 3rem;
}