html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

h1 {
    font-size: 5rem;
    margin: 2rem;
}

#startGame {
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0.9rem #999;
}

#startGame:hover {
    background-color: #3e8e41;
}

#startGame:active {
    background-color: #3e8e41;
    box-shadow: 0 0.5rem #666;
    transform: translateY(0.4rem);
}

#scores,
#points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 102.4rem;
    font-size: 2.5rem;
}

#score_player_A,
#score_player_B {
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
}

#points_player_A,
#points_player_B,
h3 {
    width: 20rem;
    text-align: center;
    border: 1px solid black;
}


/* 1024x600px */

canvas {
    width: 102.4rem;
    height: 60rem;
    border: 1px solid black;
    margin: 3rem;
    background-image: url("../images/coverpage.jpg");
}